* {
    text-decoration:none ;
    font-family: Yekan bakh;
    box-sizing: border-box;
}
html, body {
    overflow-x: hidden;
}
  body{
    position: relative;
    background-color: #393e46;
    font-size: 19px;
    max-width: 1864px;
    padding: 0rem 3rem;
}
::selection{
    background-color: #FF7043;
}
.main__content{
    max-width: 100%;
    padding: 0rem 2rem;
}
header{
    height: 158px;
    width: 100%;
    background-color: whitesmoke;
    border-radius: 0 0 30px 30px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    box-sizing: border-box;
    margin-bottom: 2rem;
}

.buttonheader{
    border: 2px solid #393e46;
    background-color: #393e46;
    margin: 39px 43px;
    border-radius: 15px;
    font-size: 19px;
    color: #FF7043;
    cursor: pointer;
    transition: 0.3s;
    padding: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.buttonheader:hover{
    background-color: #FF7043;
    color: #393e46;
    transition: 0.3s;
}

.container__nav{
    margin: 2px 54px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    position: absolute;
    width: 97%;
    justify-content: space-between;
}
.menu__container{
    width: 800px;
}
ul{
    display: inline-block;
    text-align: right;
    list-style: none;
}
.menu li{
    float: right;
    padding:14px 27px;
    border: 1px solid #1f2633;
    border-radius: 15px;
    cursor: pointer;
    position: relative;
    transition: 0.3s;
    color: white;
    margin-right: 4px;
    background-color: #393e46;
    margin-top: 30px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.menu li:hover{
    background-color: #FF7043 ;
    color: white;
    border-radius: 15px;
    border: 1px solid #1f2633;
}

li ul{
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 1;
    width: 177px;
    display: none;
    opacity: 0;
    padding: 2px;
    top: 28px;
}
li ul li{
    width: 120%;
    margin-bottom: -30px;
}
li:hover ul{
    display: block;
    opacity: 1;
}
li a{
    color: #f5f5f5;
}

i{
    margin-left: 6PX;
}
.header__icon{
    font-size: 1.8rem;
    display: none;
    cursor: pointer;
}

#titr{
    margin: -763px 273px;
    color: #ffffff;
    display: inline;
    position: absolute;
    text-align: center;
    font-size: 49px;
    width: 819px;
}
#zirtitr{
    margin: -659px 636px;
    color: #ffffff;
    display: inline;
    position: absolute;
    text-align: center;
    font-size: 24px;
    width: 819px;
}
.headerimg{
    height: 823px;
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    opacity: 0.6;
    position: relative;
    
}

.containercontent{
    display: flex;
    justify-content: center;
    align-content: center;
}

.title__box{
    font-size: 2.3rem;
    color: #FF7043;
}
.title__box::after,
.title__box::before{
    content: "";
    background-color: #FF7043;
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 5%;
}
.title__box::after{
  margin-right: 0.2rem;
}
.title__box::before{
  margin-left: 0.2rem;
}
.title__box__container{
  text-align: center;
  margin: 4rem;
}

.box__wrrapper {
    display: grid;
    grid-template-columns: repeat(2 , 48.6%);
    grid-template-rows: repeat(3 , 1fr);
    max-width: 100%;
    grid-gap: 3rem;
  }


.Top__Rate__box{
    height: 846px;
    width: 100%;
    border: 2px solid #fff;
    border-radius: 40px;
    background-color: #f5f5f5;
    color: black;
    text-align: center;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}
h1{
    color: #FF7043;
    text-align: center;
}
p{
    color: #1f2633;
    text-align: justify;
    line-height: 48px;
    font-size: 21px;
    margin-right: 60px;
    margin-left: 40px ;
}
img{
    border-radius: 23px;
}
.kalehpache , .kashkebademjan ,
 .morghaks, .gheymeaks , .abgoshtaks{
    height: 290px;
    width: 430px;
}
.title__food__box{
    position: relative;
    color: #f5f5f5;
    background-color: #FF7043;
    font-size: 30px;
    padding: 1rem;
    width: 100%;
    border-radius: 40px 40px 0 0;
    margin-bottom: 1rem;
}

.comment__wrrapper{
    width: 80%;
    height: 25rem;
    background-color: #fff;
    position: relative;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 3rem auto;
    border-radius: 1.5rem;
}
.comment__item{
    margin-top: 2rem;
    margin-bottom: 1rem;
    position: relative;
    background-color: #fff;
    height: 300px;
    width: 250px;
    display: flex;
    flex-direction: column;
    border-radius: .6rem;
    border: 1px solid #393e46;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    overflow: hidden;
}
.comment__text{
    border-bottom: 1px solid #393e46;
}
.comment__text p{
    font-size: 14px;
    line-height: 1.5rem;
    margin-right: 30px;
    margin-left: 30px;
    color: #7E8085;
}
.comment__person__picture{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 1rem;
}
.person__comment__name{
    font-size: 15px;
}
footer{
    background-color: whitesmoke;
    height: 200px ;
    width: 100%;
    border-radius: 30px 30px 0 0;
}
.foottitr{
    background-color: #FF7043;
    color: #fff;
    border-radius: 0px 30px 0px 60px;
    width: 408px;
}
.box_zirfood{
    height: 57px;
    width: 465px;
    display: block;
}
.zirfood{
    text-align: right;
    padding: 9px 28px;
}

ol{
    margin: 17px 209px;
    float: left;
}
ol li{
    list-style-type: disc;
    color: #FF7043;
    cursor: pointer;
}
.doicon{
   display: flex;
   order: 1;
   margin-left: 265px;
   align-items: center;
}
.footer__text__item{
    color:#FF7043;
}
.allcontent__footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 183rem;
    height: 5rem;
    margin: -102px -252px;
}
.iconallfooter{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap
}
.iconallfooter button{
    color: #fff;
    font-size: 24px;
    border: none;
    outline: none;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0.2rem;
    cursor: pointer;
}
.bg1{
    background-color: #637ab7;
}
.bg2{
    background-color: #e91e63;
}
.bg3{
    background-color: #009678;
}
.iconallfooter>button>i{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}
.etemad__icon{
    height: 74px;
    width: 65px;
}


@media screen and (max-width:1800px){
    .box_zirfood{
        display: none;

    }
    .allcontent__footer{
        margin: -48px -474px;
    }
    ol{
        margin: 19px 354px;
    }
}


@media screen and (max-width:1765px){
    .Top__Rate__box{
        height: 910px;
    }
}

@media screen and (max-width:1700px){
    .allcontent__footer{
        margin:  -46px -566px;
    }
}



@media screen and (max-width:1642px){
    .Top__Rate__box{
        height: 959px;
    }
}

@media screen and (max-width:1600px){
        
    ol {
        margin: 20px 246px;
    }
}



@media screen and (max-width:1526px){
    .Top__Rate__box{
        height: 1007px;
    }
}

@media screen and (max-width:1500px){
    .allcontent__footer {
        margin: -43px -650px;
    }
    #titr{
        margin: -624px 182px;
    }
    #zirtitr {
        margin: -547px 451px;
    }
    .headerimg {
        height: 691px;
    }
}



@media screen and (max-width:1420px){
    .Top__Rate__box{
        height: 1057px;
    }
}

@media screen and (max-width:1400px){
    ol {
        margin: 21px 234px;
    }
    .allcontent__footer {
        margin: -43px -726px;
    }
}


@media screen and (max-width:1348px){
    .Top__Rate__box{
        height: 1104px;
    }
}

@media screen and (max-width:1300px) {

    .headerimg{
        width: 100%;
        height: 600px;
    }
    .menu__container{
        width: 691px;
    }
    .container__nav {
        width: 1089px;
        margin: 0px 25px;
    }
    div>a>span>i{
        margin-left: 0 ;
        font-size: 20px;
    }
    #titr{
        margin: -514px 137px;
    }
    #zirtitr{
        margin: -445px 339px;
    }
     footer{
         height: 260px;
     }
     .zirfood{
         display: none;
     }
     .allcontent__footer{
        margin: -72px -782px;
     }
     ol{
        margin: 91px 163px;
     }
     .iconallfooter button{
        margin-bottom: 5px;
     }
}


@media screen and (max-width:1276px){
    .Top__Rate__box{
        height: 1153px;
    }
header {
    justify-content: center;
   }
}

@media screen and (max-width:1224px){
    .Top__Rate__box{
        height: 1203px;
    }
}

@media screen and (max-width:1181px){
    .Top__Rate__box {
        height: 1249px;
      }
    .container__nav {
        justify-content: center;
    }
}

@media screen and (max-width:1129px){

    .Top__Rate__box {
        height: 1295px;
      }
    #titr {
        margin: -482px 35px;
    }
    #zirtitr {
        margin: -401px 219px;
    }
    .headerimg {
        height: 517px;
    }
    .allcontent__footer {
        margin: -72px -869px;
    }
}

@media screen and (max-width:1097px){
    .Top__Rate__box {
        height: 1343px;
      }
}

@media screen and (max-width:1080px){
    .box__wrrapper {
        grid-template-columns: repeat(1 , 100%);
      }
      .Top__Rate__box {
        height: 818px;
      }
}
@media screen and (max-width:1042px){
    .menu li {
        padding: 10px 19px;
      }
      .buttonheader {
        margin: 43px 43px;
        padding: 1rem;
      }
      header{
        align-items: center;
      }

}
@media screen and (max-width:1036px){
      .Top__Rate__box {
        height: 863px;
      }

}

@media screen and (max-width:1024px){
    .allcontent__footer {
        margin: -72px -930px;
    }
    ol {
        margin: 91px 106px;
    }
    #titr{
        font-size: 40px;
    }
    #zirtitr {
        margin: -411px 159px;
        font-size: 21px;
    }
    .menu__container {
        width: 610px;
      }
}
@media screen and (max-width:1113px){
    .comment__wrrapper {
        height: 45rem;
      }
}

@media screen and (max-width:948px){
    .Top__Rate__box {
        height: 915px;
      }
    .button__wrapper{
        margin-right: -25px;
      }
}


@media screen and (max-width:930px){
    .header__icon{
        display: block;
        height: 32px;
        margin-right: 3rem;
    }
    header{
        background-color: #f5f5f5;

    }
    .menu {
        position: fixed;
        top: 0;
        left: -256px;
        bottom: 0;
        background: #1f2633;
        width: 16rem;
        flex-direction: column;
        padding: 2rem 1rem;
        transition: 0.3s all;
        z-index: 5; 
        margin-top: 0;
    }
    .menu li {
        float: none;
        text-align: center;
        background-color: #f5f5f5;
        color: #1f2633;
      }
      .menu li a{
        color: #1f2633;
      }
      .headerimg{
          z-index: 2; 
    }
    #titr{
        z-index: 3;
    }
    #zirtitr{
        z-index: 3;
    }
    .menu__container {
        width: 26rem;
      }
      .menu__container {
        width: 0;
      }
      .button__wrapper {
        margin-right: 0px;
      }
      .container__nav {
        justify-content: space-evenly;
        align-items: center;
      }

}
@media screen and (max-width:900px){
    .headerimg{
        height: 27rem;
    }
        #titr {
            margin: -404px -24px;
          }
          #zirtitr {
            margin: -350px 80px;
            font-size: 21px;
          }

}

    @media screen and (max-width:887px){
        .Top__Rate__box {
            height: 962px;
          }
    }

    @media screen and (max-width:832px){
        .Top__Rate__box {
            height: 1007px;
          }
          .container__nav {
            width: 56rem;
          }
          #titr {
            margin: -402px -85px;
          }
          #zirtitr {
            margin: -343px 22px;
          }
    }

    @media screen and (max-width:800px){
        .headerimg {
            height: 369px;
          }
          #titr {
            margin: -348px -114px;
          }
          #zirtitr {
            margin: -291px 13px;
            font-size: 17px;
          }
          .allcontent__footer {
            margin: -74px -1027px;
          }
        .comment__wrrapper{
            height: 69rem;
        }
    }

    @media screen and (max-width:780px){
        .Top__Rate__box {
            height: 1058px;
          }
    }

    @media screen and (max-width:745px){
        .Top__Rate__box {
            height: 1105px;
          }
          .container__nav {
            width: 50rem;
          }
    }

    @media screen and (max-width:711px){
        .Top__Rate__box {
            height: 1151px;
          }
    }

    @media screen and (max-width:700px){
        .headerimg {
            height: 328px;
          }
          #titr {
            margin: -313px -179px;
            font-size: 27px;
          }
          #zirtitr {
            margin: -269px -72px;
            font-size: 15px;
          }
          footer{
              height: 484px;
          }
          .allcontent__footer {
            display: grid;
            grid-template-rows: repeat(1, 157px);
            margin: -37px -1237px;
          }
          .iconallfooter {
          flex-direction: row;
          }
          .doicon{
              margin-left: 96px;
          }
    }

          
    @media screen and (max-width:685px){
        .Top__Rate__box {
            height: 1202px;
          }
          .container__nav {
            width: 43rem;
          }
    }

    @media screen and (max-width:664px){
        .Top__Rate__box {
            height: 1251px;
          }
    }
    @media screen and (max-width:639px){
        .Top__Rate__box {
            height: 1296px;
          }
    }
    @media screen and (max-width:623px){
        .Top__Rate__box {
            height: 1345px;
          }
          .container__nav {
            width: 36rem;
          }
    }


@media screen and (max-width:601px){
    body{
        padding: 0 0;
    }
    .Top__Rate__box {
        height: 1244px;
    }
}

@media screen and (max-width:589px){
    .Top__Rate__box {
        height: 1200px;
    }
}
@media screen and (max-width:568px){
    .Top__Rate__box {
        height: 1251px;
    }
}
@media screen and (max-width:550px){
    
           body {
            width: 100%;
            padding: 0;
        }
          footer{
            height: 400px;
        }      
    
          .headerimg {
            height: 256px;
          }
          #titr {
            margin: -252px -222px;
            font-size: 24px;
          }
          #zirtitr {
            margin: -221px -145px;
            font-size: 11px;
          }
          .foottitr {

            width: 200px;
          }
          .allcontent__footer {
            margin: -25px -1259px;
          }
          ol {
            margin: 15px 100px;
          }
}

@media screen and (max-width:527px){
    .Top__Rate__box {
        height: 1297px;
    }
}

@media screen and (max-width:511px){
    .Top__Rate__box {
        height: 1341px;
    }
}


@media screen and (max-width:489px){
    .Top__Rate__box {
        height: 1338px;
    }
    .kalehpache, .kashkebademjan, .morghaks, .gheymeaks, .abgoshtaks {
        height: 235px;
        width: 364px;
      }
}

@media screen and (max-width:462px){
    .Top__Rate__box {
        height: 1434px;
      }
      .container__nav {
        width: 31rem;
      }
}

@media screen and (max-width:436px){
    .Top__Rate__box {
        height: 1177px;
      }
      .kalehpache, .kashkebademjan, .morghaks, .gheymeaks, .abgoshtaks {
        height: 210px;
        width: 321px;
      }
      .title__box {
        font-size: 1.8rem;
      }
      p {
        line-height: 46px;
        font-size: 19px;
        margin-right: 26px;
        margin-left: 26px;
      }
}

@media screen and (max-width:411px){
    .Top__Rate__box {
        height: 1266px;
      }

}
@media screen and (max-width:400px){
    .main__content{
        padding: 2px;
    }    
    .headerimg,#titr,#zirtitr  {
        display: none;
    }
    body {
        width: 96%;
    }
    .Top__Rate__box {
        height: 1179px;
    }
}
@media screen and (max-width:365px){
    .Top__Rate__box {
        height: 1267px;
    }
    .container__nav {
        width: 26rem;
      }
      .comment__wrrapper {
        height: 69rem;
        width: 95%;
      }
}
@media screen and (max-width:349px){
    .title__box {
        font-size: 1.5rem;
      }
}
@media screen and (max-width:340px){
    .kalehpache, .kashkebademjan, .morghaks, .gheymeaks, .abgoshtaks {
        height: 192px;
        width: 285px;
      }
      .Top__Rate__box {
        height: 1341px;
      }
      .title__box {
        font-size: 1.4rem;
      }
      .buttonheader {
        padding: .8rem;
      }
}
@media screen and (max-width:320px){
    .Top__Rate__box {
        height: 1450px;
      }
      .container__nav {
        width: 20rem;
      }
      .menu {
        width: 12rem;
      }


}
@media screen and (max-width:315px){
    p {
        line-height: 41px;
        font-size: 17px;
        margin-right: 22px;
        margin-left: 22px;
    }
    .Top__Rate__box {
        height: 1155px;
    }
      .kalehpache, .kashkebademjan, .morghaks, .gheymeaks, .abgoshtaks {
        height: 170px;
        width: 254px;
    }
    .title__food__box {
        font-size: 24px;
      }
      .container__nav {
        width: 23rem;
      }
      .menu {
        width: 13rem;
      }

}
